* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #252526;
  color: #FFF;
}
input {
  display: block;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
header {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}
main form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 0 5%;
}
main input[type=file] {
  width: 100%;
  color: #000;
  background-color: #FFF;
  font-size: 20px;
  padding: 13px 16px;
  transition: 0.4s;
}
main input[type=file]::placeholder {
  color: #f3f3f3;
}
main input[type=file]:focus {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
main input[type=submit] {
  width: 100%;
  max-width: 300px;
  background-color: #42B883;
  padding: 16px;
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.4s;
  cursor: pointer;
}
main input[type=submit]:active {
  background-color: #3B8070;
}